.main-page {
  width: 90%;
  @media (max-width: 1060px) {
    width: 100%;
    padding: 0 15px;
  }
  .block-select{
    margin-top: 0;
  }
  form {
    margin: 20px 0;
    display: flex;
  }
  &__base{
    margin: 10px 0;
  }
  .table {
    width: 100%;

    thead tr,
    tr:nth-child(even) {
      background-color: #eee;
    }
    td {
      text-align: center;
    }
  }
  .up {
    display: inline-block;
    margin-bottom: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #128212 transparent;
  }
  .down {
    display: inline-block;
    margin-bottom: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 10px 0 10px;
    border-color: #e61212 transparent transparent transparent;
  }
}